main {
  /* border: 2px solid red; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
}

.Container {
  /* border: 2px solid black; */
  background-color: white;
  width: 375px;
  height: 580px;
  display: flex;
  /* flex-direction: column; */
  align-items: last baseline;
  border-radius: 5px;
  justify-content: center;
  
}

.SmallContainer {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 95%;
  margin-bottom: 65px;
  
}

/* Welcome section Container Css */
.WelcomeBox {
  /* border: 2px solid red; */
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ShortInfo {
  font-weight: normal;
  font-size: 15px;
  color: rgb(139, 139, 139);
}

/* Create and Registered section Container Css */
ul {
  /* border: 2px solid green; */
  margin-top: 25px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.CreateAccountLi,
.LoginLi {
  background-color: #6c25ff;
  width: 90%;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateAccountLink,.LoginLink{
  width: 100%;
  /* border: 2px solid red; */
  width: 100%;
  padding: 10px;
}


.LoginLink {
  color: black;
  font-weight: 500;
  width: 100%;
}

.LoginLi {
  background-color: rgb(216, 183, 253);
}

li {
  list-style: none;
}




/* Responsive for all mobile */



@media screen and (max-width:430px) {
  .Container{
    width: 430px;
    height: 932px;
  }
  
} 

@media screen and (max-width:390px) {
  .Container{
    width: 390px;
    height: 884px;
  }
  
} 


@media screen and (max-width:375px) {
    .Container{
        width: 375px;
        height: 667px;
    }

} 

@media screen and (max-width:360px) {
    .Container{
        width: 360px;
        height: 740px;
    }

} 


@media screen and (max-width:386px) {
  .Container{
      width: 386px;
      height: 667px;
  }

} 

@media screen and (max-width:360px) {
  .Container{
      width: 360px;
      height: 740px;
  }

} 

